*{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    color: rgb(51, 108, 214);
    background-color: #030235;
}

#logo{
    width: 4rem;
    height: 2rem;
}

ul a{
    margin: 0.7rem;
    border: 1px solid rgb(23, 88, 210);
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191767;
    height: 30vh;
    color: rgb(51, 108, 214);
    font-size: 3rem;
}

h2{
    font-size: 2rem;
    text-align: center;
}

#search{
    width: 9.5vw;
}

form{
    display: flex;
    justify-content: center;
    font-size:smaller;
}

article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#button{
    background-color:#030235 ;
}

.pastEvent{
    text-decoration:line-through;
}

.card-title{
    text-decoration: underline;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 20vh;
    border-top: 2px solid black;
    border-bottom: 5px solid black;

}

.socialNetwork{
    height: 32px;
    width: 32px;
    background-color: #030235e7;
}

.div-footer{
    font-size: 20px;
    display: flex;
    align-items: center;
    background-color: #030235e7;
    height: 98%;
}

.div-footer1{
    display: flex;
    justify-content: space-around;
    width: 10rem;
    align-items: center;
}

#p-footer{
    display: flex;
    align-items:center;
    height: 80%;
}